.logo {
    width: 300px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.background-home-page {
    width: 100%;
    min-block-size: 90%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    max-height: 70%;
}