
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A1E3F9;
    color: #333
}


.events-hero {
    color: white;
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 3rem;
    z-index: -1;
    position: relative;
}

.background-events-image {
    width: 100%;
    height: 130%;
    object-fit: cover;
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: -1;
}

.events-hero h1 {
    color: white;
    margin-bottom: 1rem;
    font-family: 'Boldonse', fantasy;
    margin-top: 10rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 3.5rem;
    font-family: 'Boldonse', fantasy;
    text-shadow: 2px 2px 0 black, 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 0 rgba(0, 0, 0, 0.1);
}

.events-hero p {
    font-size: 1.2rem;
    opacity: 0.9;
}