
.faq-section {
    padding: 50px 20px;
    /* max width to avoid stretching to much */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}

.faq-container {
    display: grid;
    /* to add space between grid items */
    gap: 30px;
}

.faq-item {
    background: white;
    /* hide content that overflows */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.faq-item:hover {
    transform: translateY(-5px);
}

.faq-question {
    position: relative;
    background: #205781;
    color: white;
    display: flex;
    /* to add space between question and icon */
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 20px;
}

.faq-img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.faq-answer {
    padding: 20px;
    line-height: 1.6;
}

.faq-answer p {
    color: #333;
}

/* responsiveness for smaller screen */
@media (max-width: 768px) {
    .faq-hero h1 {
        font-size: 2rem;
    }

    .faq-hero p {
        font-size: 1rem;
    }

    .faq-question {
        flex-direction: column;
        text-align: center;
    }

    .faq-question h3 {
        margin-right: 0;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .faq-img {
        width: 60px;
        height: 60px;
    }
}

.newsletter {
    background: #2964b1;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.signup-form {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

.signup-form input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    caret-color: black;
}

.signup-form button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background: #444;
}